Tender: {{ tender.id }}
<hr>
</br>
Products:
{% if products %}
    <ol>
    {% for product in products_list %}
        <li>
            Product Name : {{product.name}} </br>
            Product Description : {{ product.description }} </br>
            Quantity : {{ product.quantity }} {{product.unit}} 
            <a href="/products/{{ product.id }}/"> details </a>
            <a href="/products/{{ product.id }}/demands"> Demand </a>
        </li>
    {% endfor %}
    </ol>
{% else %}
    <p>No products.</p>
{% endif %}
<hr>
Description: {{ tender.description }}