Organisation: {{ organisation.name }}
<hr>
</br>
Products:
{% if products_list %}
    <ol>
    {% for product in products_list %}
        <li>
            Product Name : {{product.product__name}} </br>
            Product Description : {{ product.product__description }} <br>
            Inventory : {{ product.quantity }} {{product.unit}} <br>
            <a href="/products/{{ product.product }}/"> details </a>    
            <a href="/products/{{ product.product }}/addOrderForOrganisation/{{organisation.id}}"> order </a>
        </li>
    {% endfor %}
    </ol>
{% else %}
    <p>No products.</p>
{% endif %}