Organisation: {{ organisation.name }}
<hr>
</br>
Products in inventory:
{% if products_list %}
    <ol>
    {% for product in products_list %}
        <li>
            Product Name : {{product.product__name}} </br>
            Product Description : {{ product.productdescription }} </br>
            Quantity : {{ product.quantity }} {{product.unit}} 
            <a href="/products/{{ product.product }}/"> details </a>
            <a href="/products/{{ product.product }}/demand"> Demand </a>
        </li>
    {% endfor %}
    </ol>
{% else %}
    <p>No products.</p>
{% endif %}
<hr>
Orders for Organisation:
{% if orders_for %}
    <ol>
    {% for order in orders_for %}
        <li>
            Product Name : {{ order.product__name }}  <a href="/products/{{ order.product }}/"> details </a> <br>
            Place by Organisation : {{order.fromOrganisation__name}} <a href="/organisations/{{ order.fromOrganisation }}/"></a> </br>
            Quantity : {{ order.quantity }} {{order.unit}} <br>
            Date Time : {{ order.orderPlaceAt }}
        </li>
    {% endfor %}
    </ol>
{% else %}
    <p>No order.</p>
{% endif %}

<hr>
Raise Demand:
<hr>
Issued Tenders:
{% if issued_tenders %}
    <ol>
    {% for tender in issued_tenders %}
        <li>
            Tender ID : {{tender.id}} 
            <a href="/tenders/{{ tender.id }}/"> details </a>
        </li>
    {% endfor %}
    </ol>
{% else %}
    <p>No issued tenders.</p>
{% endif %}
<a href="/tenders/newForOrganisation/{{ organisation.id }}"> Issue Tender </a>
