Organisation: {{ organisation.name }}
<hr>
</br>
Products:
{% if products_list %}
    <ol>
    {% for product in products_list %}
        <li>
            Product Name : {{product.name}} </br>
            Product Description : {{ product.description }} </br>
            Inventory : {{ product.quantity }} {{product.unit}} 
            <a href="/products/{{ product.id }}/"> details </a>
            <a href="/products/{{ product.id }}/demands"> Demand </a>
        </li>
    {% endfor %}
    </ol>
{% else %}
    <p>No products.</p>
{% endif %}
<hr>
Raise Demand:
<hr>
Issued Tenders:
{% if issued_tenders %}
    <ol>
    {% for tender in issued_tenders %}
        <li>
            Tender ID : {{tender.id}} 
            <a href="/tenders/{{ tender.id }}/"> details </a>
        </li>
    {% endfor %}
    </ol>
{% else %}
    <p>No issued tenders.</p>
{% endif %}
<a href="/tenders/newForOrganisation/{{ organisation.id }}"> Issue Tender </a>
